	/* roboto-regular - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2"),
	url("../fonts/roboto-regular.woff") format("woff");
}


	/* roboto-700 - latin_cyrillic */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-700.woff2") format("woff2"), /* Super Modern Browsers */
	url("../fonts/roboto-700.woff") format("woff");
}


	/* Variables */

:root {
	--black: #000000;
	--white: #ffffff;
	--red: #E74246;
	--red-light: #FB565A;
	--red-dark: #D7373B;
	--green: #00BC6C;
	--green-light: #00CA74;
	--green-dark: #00AA62;
	--yellow: #EAB534;
	--yellow-light: #EFC849;
	--yellow-dark: #E5A722;
	--gray: #DFDFDF;
	--gray-light: #EEEEEE;
	--gray--dark: #D5D5D5;
	--special: #888888;
}

	/* Global */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

	/* Grid */

.page {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

.page-body {
	min-height: 100%;

	background-color: var(--white);
	font-family: "Roboto", "Tahoma", sans-serif;
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

	/* Main navigation */

.main-navigation {
	align-items: flex-start;
	flex-direction: row;

	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;

	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}


.main-navigation-container {
	display: flex;
  	flex-direction: column;
  	align-items: center;

	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-navigation {
	width: 620px;
  	margin: 0;
  	margin-left: 202px;
  	padding: 0;	
}

.user-navigation {
	margin-left: auto;
	padding: 0;
	max-width: 140px;	
}

.site-navigation a {
	color: var(--black);
}

.user-navigation li {
	display: inline;
	padding: 0;	
}

.user-navigation a {
	color: var(--black);
	margin: 40px;
}

.site-navigation-current a:not([href]) {
	background-color: var(--black);
}


.site-navigation a:hover {
	color: var(--red-light);
}

.site-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.user-navigation a:hover {
	color: var(--red-light);
}

.user-navigation a:focus {
	color: var(--black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.main-header {
	font-size: 16px;
	line-height: 20px;
	color: var(--black);
	background-color: var(--gray-light);
}

.main-header-logo {
	order: 0;
	width: 160px;
  	height: 65px;
}

.img-cart {
	background-image: url("../img/icon/cart-icon.svg");
	background-position: top left;
	background-repeat: no-repeat;
}

	/* Footer */

.footer-container {
	width: 1200px;
  	margin: 0 auto;
  	padding: 0 10px;
}

.footer-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.contact {
	font-size: 16px;
}

.social	{
	width: 260px;
	margin: 0;
}
	
.user-social {

}
	
.sale {
	width: 660px;

	font-size: 16px;
}
	/* Page Index */

.main-index {
	width: 1200px;
  	margin: 0 auto;
  	padding: 0 10px;
}

	/* Slider */

.slider {
	background-color: var(--gray-light);
}

.slider-list {
	display: grid;
	grid-template-columns: 1fr;
	
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

	/* Features */

.features {	
	margin-top: 80px;

	font-size: 16px;
	line-height: 24px;
}

.features-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	  
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

.features h2 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;	
}

.features-item {
	margin: 0;
  	padding: 0;

	background-position: top left;
  	background-repeat: no-repeat; 
}

.web-site {
	background-image: url("../img/web-site.jpg");
	background-size: auto auto;
}

.application {
	background-image: url("../img/application.jpg");
	background-size: auto auto;
}

.presentations {
	background-image: url("../img/presentations.jpg");
	background-size: auto auto;
}

.order {
	display: inline-block;
	border: 0px solid;
	border-radius: 3px;
	padding: 17px 40px 15px 40px;
	
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;

	color: var(--white);
}

.red {
	background-color: var(--red-light);

}

.red:hover {
	background-color: var(--red);
}

.red:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--red-dark);
}

.green {
	background-color: var(--green-light);
}

.green:hover {
	background-color: var(--green);
}

.green:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--green-dark);
}

.yellow {
	background-color: var(--yellow-light);
}

.yellow:hover {
	background-color: var(--yellow);
}

.yellow:focus {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--yellow-dark);
}


	/* About-us */

.about-us {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 140px;

	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 16px;
}

.about-us-header {
	font-size: 45px;
	line-height: 45px;
}

.about-us-paragraph {
	font-weight: bold;
	line-height: 24px;
}

	/* Partners */

.partners {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

	/* Page Catalog */

.main-catalog {

}

.main-catalog-wrapper {
	display: grid;
  	grid-template-columns: 260px 1fr;
	align-content: start;
	
	width: 1200px;
  	margin: 0 auto;
	padding: 0 10px;
}

.heading-catalog {	
	margin: 0;
	padding-top: 80px;
	padding-bottom: 117px;
	
	text-align: center;
	font-size: 55px;
	background-color: var(--gray-light);
}

	/* Catalog-filter */

.filter {
	
}

.button-show:hover {
	background-color: var(--gray);
}

.button-show:focus {	
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

	background-color: var(--gray-dark);
}

.button-show {
	width: 260px;
  	height: 50px;	
	border-radius: 3px;
	border: 1px solid var(--white);

	background-color: var(--gray-light);
}

.filter-form {
	width: 260px;
}

.filter {
	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 16px;	
}

.filter-type {
	font: inherit;
	font-size: 18px;
	font-weight: bold;
}
 
	 /* Catalog*/
	 
.catalog {
	margin-left: 140px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 55px;

	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 16px;
}

.catalog h3 {
	margin-top: 26px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;

	font-size: 18px;
	line-height: 30px;
}

.catalog-item-image {
	width: 358px;
	height: 578px;
}

.price {	
	border: 1px solid;
	border-radius: 3px;
	padding: 17px 72px 15px 72px;

	font: inherit;
	text-align: center;
	text-transform: uppercase;

	color: var(--white);
	background-color: var(--red-light);
}

.catalog-info {
	display: grid;
	justify-content: center;

	margin-top: 26px;
	margin-bottom: 12px;
}

.catalog-item {
	width: 358px;
 	min-height: 578px;
  	margin-right: 40px;
  	margin-bottom: 30px;
}
